body {
    background-image: url("photo.jpg");
    max-width: 100%;
    height: auto;
  }

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: white;
    text-decoration: none;
    text-transform: none;
    padding: 50px 0;
    text-align: center;
}
.navbar button {
    color: #ffffff;
    background-color: #0d1b36;
    font-size: 25px;
    border: 0px solid #2d63c8;
    border-radius: 36px;
    padding: 15px 50px;
    cursor: pointer;
}
.navbar button:hover {
    color: #ffffff;
    background-color: #3f48a1;
}
.card {
    position: absolute;
    top: 300px;
    left: 36%;
    width: 300px;
    height: 750px;
}
